

/* ALT textarea ALT */
/*
textarea {
  width: 80%;
  background-color: #333333;
  border: none;
  color: #a19a9a;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-family: 'Space Mono', monospace;
}
*/

